@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main Font Family */
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --main-color : #212121
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a.active {
  background: #f2a8ff;
  transition: .3s;
  border-radius: 3px;
}